doctype html
html
	head
		script(src='https://cdn.bootcss.com/vue/2.6.10/vue.min.js')
		script(src='https://unpkg.com/axios/dist/axios.min.js')
		title= title
		meta(charset="UTF-8")
		script.
			axios.create({
				headers: {
					'Content-Type': 'application/json;charset=UTF-8' ,
					'Cache-Control': "no-cache" 
				}
			})
	body
		block content
	
